<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eVe</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- <link rel="stylesheet" href="/static/css/codemirror.css"> -->
</head>

<body>
    <h1>Hello this is eVe!</h1>
    <p>This is eVe or Easy Video Editor.</p>
    <p>eVe is a non linear video editor.</p>
    <p>You can edit videos using just a YAML file and the magic of the internet.</p>
    <form action="">
        <a href="{{ url_for('editor') }}"><input type="button" value="Go to eVe"></a>
        <a href="{{ url_for('documentation') }}"><input type="button" value="Read Documentation"></a>
    </form>
    <!-- <script src="/static/js/codemirror.js"></script> -->
    <!-- <script src="/static/js/yaml.js"></script> -->
    <script src="/static/js/app.js"></script>
</body>

</html>