<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YaVE</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- <link rel="stylesheet" href="/static/css/codemirror.css"> -->
</head>

<body>
    <h1>Hello, this is YaVE!</h1>
    <p>This is YaVE or Yaml Video Editor.</p>
    <p>YaVE is a non linear video editor.</p>
    <p>You can edit videos using text, its simple, easy, and fast.</p>
    <form action="">
        <a href="{{ url_for('login') }}"><input type="button" value="Go to YaVE"></a>
        <a href="https://github.com/myNameArnav/yamlVideoEditor/wiki"><input type="button" value="Read Documentation"></a>
    </form>
    <!-- <script src="/static/js/codemirror.js"></script> -->
    <!-- <script src="/static/js/yaml.js"></script> -->
    <script src="/static/js/app.js"></script>
</body>

</html>