<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
    <h1>Login / <a href={{  url_for('signUp') }}> SignUp</a></h1>
    <form action="" method="POST">
        <label for="email">Username: </label>
        <input type="text" placeholder="username" class="username" name="username">
        <label for="password">Password: </label>
        <input type="password" placeholder="*******" class="password" name="password">
        <input type="submit" value="Login" class="login">
        <div class="or">
            or
        </div>
        <input type="submit" value="Guest Login" class="guestLogin">
    </form>
</body>

</html>